<header>
    <nz-layout class="content">
        <nz-content>
            <h1>
                <a [routerLink]="['/']">
                    :p
                </a>
            </h1>
            <section class="button-set">
                <button nz-button nzType="primary" class="login-button" [routerLink]="['/login']" [state]="{tracingId: 123}">
                    로그인
                </button>
                <button nz-button nzType="default" class="login-button" [routerLink]="['/sign-up']" [state]="{tracingId: 1234}">
                    회원가입 
                </button>
            </section>
        </nz-content>
    </nz-layout>
</header>
