<nz-layout class="content" id="articles">
  <nz-content>
    <section *ngIf="(isLoadingEntites$ | async)" class="inner-content">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </section>
    <section *ngIf="(selectedArticle$ | async)" class="inner-contnet detail">
      <article>
        <h1>
        {{(selectedArticle$ | async).title}}
        </h1>
        <p>
          {{(selectedArticle$ | async).body}}
        </p>
      </article>
    </section>
    <section *ngIf="(artciles$ | async)?.length > 0" class="inner-content">
      <ul>
        <li *ngFor="let article of artciles$ | async" [routerLink]="['/p/' + article.id + '/' + article.title]">
          <div *ngIf="article.images && article.images.length > 0">
            <img src="{{article.images[0]}}">
          </div>
          <div *ngIf="!article.images || article.images.length === 0">
            <i></i>
          </div>
          <div>
            <h4>
              {{article.title}}
            </h4>
            <p>
              {{article.body}}
            </p>
          </div>
        </li>
      </ul>
    </section>
    <section *ngIf="!(isLoadingEntites$ | async) && (artciles$ | async)?.length==0 &&  (selectedArticle$ | async)?.length==0" class="inner-content">
      <nz-empty>
      </nz-empty>
    </section>
  </nz-content>
</nz-layout>
