/* You can add global styles to this file, and also import other style files */
.content {
    display: block;
    max-width: 935px;
    margin: auto;
    background: none;
}
  
.inner-content {
    margin-top: 4rem;
}