section {
  position: relative;
  overflow: hidden;
  display: flex;
  margin: 90px auto auto auto;
  width: 660px;
  height: 480px;
  display: flex;
  > div {
    &:first-child {
      width: 216px;
      display: flex;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      padding: 1.5rem;
      h3 {
        text-align: center;
      }
    }
    &:last-child {
      display: flex;
      flex-direction: column;
      flex: 1 1 0%;
      background: white;
      padding: 1.5rem;
      h2 {
        margin-top: 80px;
        margin-bottom: 20px;
      }
      .authenticate-button {
        width: 100%;
        margin-top: 20px;
        height: 50px;
      }
      .forgot-password {
        flex-direction: row-reverse;
        > div {
          flex: inherit;
        }
      }
    }
  }
}